{% load static %}
{% include 'includes/base.html' %}

{% block content %}

<section id="inicio">
  <div class="container">
    <div class="row align-items-center">
      <h1 class="col-2">Productos</h1>
      <button type="button" id="btnAgregarProducto" class="btn btn-dark col-2 me-2" data-bs-toggle="modal" data-bs-target="#modalProductos"> <i class="fa-solid fa-floppy-disk"></i> Agregar producto  </button>  
      <!-- <button type="button" disabled class="btn btn-warning col-2 ms-2" data-bs-toggle="modal" data-bs-target="#modalEditP"> <i class="fa-solid fa-pen"></i> Editar producto </button>   -->
      <!-- <button type="button" disabled class="btn btn-danger col-2 ms-2" data-bs-toggle="modal" data-bs-target="#modalEditP"> <i class="fa-solid fa-trash"></i> Eliminar producto </button>   -->
    </div>
    <table class="table">
        <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                  <!-- <td>{{ product.id }}</td> -->
                  <td>{{ product.display_name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.list_price }}</td>
                  <td><img src="http://localhost:8069/web/image?model=product.template&id={{product.id}}&field=image_128" alt="{{ product.name }}" width="100"></td>
                  <td>
                    <button type="button" class="btn btn-warning btn-editar btnEditarProducto" data-bs-toggle="modal" data-bs-target="#modalProductos" data-id="{{ product.id }}" onclick="editarProducto('{{product.id}}')">  <i class="fa-solid fa-pen"></i> Editar</button>
                    <button type="button" class="btn btn-danger btn-borrar btnBorrarProducto" data-id="{{ product.id }}" onclick="borrarProducto('{{product.id}}')">  <i class="fa-solid fa-trash"></i> Borrar</button>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalProductos" tabindex="-1" aria-labelledby="modalLbl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLbl"> Agregar producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'guardar_producto' %}" method="post" id="formProducto" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <!-- <div class="mb-3"> -->
            <input hidden type="text" class="form-control" id="id" name="id">
          <!-- </div> -->
            <div class="mb-3">
                <label for="nombre" class="form-label required">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" required>
            </div>            
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen:</label>
                <input type="file" name="imagen" id="imagen" onchange="previewImage(event)">
                <img id="preview" src="#" alt="Preview" style="display:none">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>    
    </div>
  </div>
</div>

</section>

{% endblock content %}

{% block javascripts %}
  <script type="text/javascript">
    $(document).ready(function() {

      $("#btnAgregarProducto").on('click shown.bs.modal', function (){
        $("#modalLbl").text('Agregar producto');
      });
      
      $('#modalProductos').on('hidden.bs.modal', function() {
        limpiarObjetos();
      });

    });

    function limpiarObjetos() {
      $("#formProducto")[0].reset();
    }

   function editarProducto(id) {
      $("#modalLbl").text('Editar producto');

      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      $.ajax({
        url: '/editar-producto/' + id + '/',
        method: 'GET',
        success: function(response) {
          $('#formProducto #id').val(response.id);
          $('#formProducto #nombre').val(response.display_name);
          $('#formProducto #descripcion').val(response.description);
          $('#formProducto #precio').val(response.list_price);
        },
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    }

    function borrarProducto(id){
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        $.ajax({
          url: '/borrar-producto/' + id + '/',
          method: 'GET',
          success: function(response) {
            
          },
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          error: function(xhr, status, error) {
            console.log(error);
          }
        });
    }

  </script>

{% endblock javascripts %}